@page
@{
@model IndexModel
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View your <a asp-page="SavedProducts">saved products</a>.</p>
</div>
<div class="container">
    <form asp-page="./Index" method="GET">
        <div class="form-actions no-color">
            <p>
                Search:
                <input type="text" name="searchString" value="@Model.searchFilter"/>
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="./Index">Back to full list</a>
            </p>
        </div>
    </form>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-currentFilter="@Model.searchFilter">Name</a>
                </th>
                <th scope="col">Price</th> 
                <th scope="col">
                    <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort" asp-route-currentFilter="@Model.searchFilter">Time Retreived</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductsList)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <th>@item.name</th>
                    <th>@item.price</th>
                    <th>@item.timeRetreived.ToString()</th>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.ProductsList.HasPreviousPage ? "disabled" :"";
        var nextDisabled = !Model.ProductsList.HasNextPage ? "disabled":""; 
    }
    <a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" 
        asp-route-pageIndex="@(Model.ProductsList.pageIndex - 1)" 
        asp-route-searchFilter="@Model.searchFilter"
        class="btn btn-primary @prevDisabled">Previous
    </a>
    <a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" 
        asp-route-pageIndex="@(Model.ProductsList.pageIndex + 1)" 
        asp-route-searchFilter="@Model.searchFilter"
        class="btn btn-primary @nextDisabled">Next
    </a>
</div>
