@page
@model SavedProducts
@{
    ViewData["Title"] = "Saved Products";
}
<div class="container">
    @Html.AntiForgeryToken()
    <form asp-page="SavedProducts" method="GET">
        <div class="form-actions no-color">
            <p>
                Search:
                <input type="text" name="searchString" value="@Model.searchFilter"/>
                <input type="submit" value="Search" class="btn btn-primary"/> |
                <a asp-page="SavedProducts">Back to full list</a>
            </p>
        </div>
    </form>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <a asp-page="./SavedProducts" asp-route-sortOrder="@Model.NameSort" asp-route-currentFilter="@Model.searchFilter">Vanity Name</a>
                </th>
                <th scope="col">HTML Id:</th>
                <th scope="col">Price</th>
                <th scope="col">URL:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SavedProductsList)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td>@item.VanityName</td>
                    <td>@item.NameHtmlId</td>
                    <td>@item.PriceHtmlId</td>
                    <td>
                        <a href="@item.ProductUrl">@item.ProductUrl</a>
                    </td>
                    <td>
                        <a asp-page="./ProductPage" asp-route-id="@item.Id" class="btn bnt-warning">Details</a>
                        <div class="delete-section" >
                            <a class="delete-link btn btn-danger" href="@Url.Action("Delete", new {id = item.Id})">Delete</a>
                            <div class="btn btn-primary delete-confirm" style="display:none" data-delete-id="@item.Id">Confirm Delete</div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.SavedProductsList.HasPreviousPage ? "disabled" :"";
        var nextDisabled = !Model.SavedProductsList.HasNextPage ? "disabled":""; 
    }
    <a asp-page="./SavedProducts" asp-route-sortOrder="@Model.CurrentSort" 
        asp-route-pageIndex="@(Model.SavedProductsList.pageIndex - 1)" 
        asp-route-searchFilter="@Model.searchFilter"
        class="btn btn-primary @prevDisabled">Previous
    </a>
    <a asp-page="./SavedProducts" asp-route-sortOrder="@Model.CurrentSort" 
        asp-route-pageIndex="@(Model.SavedProductsList.pageIndex + 1)" 
        asp-route-searchFilter="@Model.searchFilter"
        class="btn btn-primary @nextDisabled">Next
    </a>
</div>

<!-- 
    code below is thanks to: https://www.davepaquette.com/archive/2014/02/24/simple-delete-confirmation-in-asp-net-mvc.aspx
    works wonders!
-->
@section scripts{
    <script type="text/javascript">
    $(function () {
        $("a.delete-link").click(function () {
            var deleteLink = $(this);
            deleteLink.hide();
            var confirmButton = deleteLink.siblings(".delete-confirm");
            confirmButton.show();

            var cancelDelete =  function () {
                removeEvents();
                showDeleteLink();
            };

            var deleteItem = function () {
                removeEvents();
                confirmButton.hide();
                $.post(
                    '@Url.Action("Delete")',
                    AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                   .done(function () {
                       var parentRow = deleteLink.parents("tr:first");
                       parentRow.fadeOut('fast', function () {
                           parentRow.remove();
                       });
                   }).fail(function (data) {
                       alert("error");
                   });
                return false;
            };

            var removeEvents = function () {
                confirmButton.off("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).off("keypress", onKeyPress);
            };

            var showDeleteLink = function () {
                confirmButton.hide();
                deleteLink.show();
            };

            var onKeyPress = function (e) {
                //Cancel if escape key pressed
                if (e.which == 27) {
                    cancelDelete();
                }
            };

            confirmButton.on("click", deleteItem);
            $(document).on("click", cancelDelete);
            $(document).on("keypress", onKeyPress);

            return false;
        });
         AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    });
    </script>
}